gpio-flow
[{"id":"e516f9d8.12fb9","type":"tab","label":"GPIO","disabled":false,"info":""},{"id":"e1354484.bdb57","type":"ui_switch","z":"e516f9d8.12fb9","name":"led 1","label":"led 1","tooltip":"","group":"8c05b978.eb8d7","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":200,"wires":[["49863906.b5da7"]]},{"id":"4dbc2e5e.b55ad","type":"ui_switch","z":"e516f9d8.12fb9","name":"led 2","label":"led 2","tooltip":"","group":"8c05b978.eb8d7","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":280,"wires":[["994f8001.56d02"]]},{"id":"3aa20529.702e02","type":"ui_switch","z":"e516f9d8.12fb9","name":"led 3","label":"led 3","tooltip":"","group":"8c05b978.eb8d7","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":360,"wires":[["e95bf1a3.7d855"]]},{"id":"e2ba955b.b7597","type":"ui_switch","z":"e516f9d8.12fb9","name":"led 4","label":"led 4","tooltip":"","group":"8c05b978.eb8d7","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":440,"wires":[["52ec3c.979b0bc4"]]},{"id":"49863906.b5da7","type":"rpi-gpio out","z":"e516f9d8.12fb9","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":520,"y":200,"wires":[]},{"id":"994f8001.56d02","type":"rpi-gpio out","z":"e516f9d8.12fb9","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":520,"y":280,"wires":[]},{"id":"e95bf1a3.7d855","type":"rpi-gpio out","z":"e516f9d8.12fb9","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":520,"y":360,"wires":[]},{"id":"52ec3c.979b0bc4","type":"rpi-gpio out","z":"e516f9d8.12fb9","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":520,"y":440,"wires":[]},{"id":"2557100e.cb9368","type":"rpi-gpio in","z":"e516f9d8.12fb9","name":"","pin":"15","intype":"tri","debounce":"25","read":true,"x":270,"y":540,"wires":[["bfe00bef.ebb4e8"]]},{"id":"bfe00bef.ebb4e8","type":"function","z":"e516f9d8.12fb9","name":"send_color","func":"var state = msg.payload;\nvar color = {};\nif (state == 1)\n    color = {payload:\"grey\"};    \nelse\n    color = {payload:\"red\"};\nreturn color;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["889152e4.ed7ae8"]],"inputLabels":["input"]},{"id":"889152e4.ed7ae8","type":"ui_template","z":"e516f9d8.12fb9","group":"6e86f845.f0bf8","name":"button 1","order":0,"width":"6","height":"1","format":"<svg>\n<circle cx=\"250\" cy=\"20\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n<text x=\"10\" y=\"25\" font-family=\"sans-serif\" font-size=\"20px\" fill=\"white\">button 1</text>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":540,"wires":[[]]},{"id":"ee0434d5.fb81","type":"rpi-gpio in","z":"e516f9d8.12fb9","name":"","pin":"13","intype":"tri","debounce":"25","read":true,"x":270,"y":600,"wires":[["fb2e3460.a9af48"]]},{"id":"fb2e3460.a9af48","type":"function","z":"e516f9d8.12fb9","name":"send_color","func":"var state = msg.payload;\nvar color = {};\nif (state == 1)\n    color = {payload:\"grey\"};    \nelse\n    color = {payload:\"red\"};\nreturn color;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["a6a61f85.9ab3c"]],"inputLabels":["input"]},{"id":"a6a61f85.9ab3c","type":"ui_template","z":"e516f9d8.12fb9","group":"6e86f845.f0bf8","name":"button 2","order":0,"width":"6","height":"1","format":"<svg>\n<circle cx=\"250\" cy=\"20\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n<text x=\"10\" y=\"25\" font-family=\"sans-serif\" font-size=\"20px\" fill=\"white\">button 2</text>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":600,"wires":[[]]},{"id":"dbfd3f7b.36a688","type":"rpi-gpio in","z":"e516f9d8.12fb9","name":"","pin":"11","intype":"tri","debounce":"25","read":true,"x":270,"y":660,"wires":[["17244e0f.3eb5ba"]]},{"id":"17244e0f.3eb5ba","type":"function","z":"e516f9d8.12fb9","name":"send_color","func":"var state = msg.payload;\nvar color = {};\nif (state == 1)\n    color = {payload:\"grey\"};    \nelse\n    color = {payload:\"red\"};\nreturn color;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["fc651116.c5f4e8"]],"inputLabels":["input"]},{"id":"fc651116.c5f4e8","type":"ui_template","z":"e516f9d8.12fb9","group":"6e86f845.f0bf8","name":"button 3","order":0,"width":"6","height":"1","format":"<svg>\n<circle cx=\"250\" cy=\"20\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n<text x=\"10\" y=\"25\" font-family=\"sans-serif\" font-size=\"20px\" fill=\"white\">button 3</text>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":660,"wires":[[]]},{"id":"b16a0335.c93fd","type":"sensor-ds18b20","z":"e516f9d8.12fb9","name":"","topic":"","sensorid":"10-0008032da9a9","timer":"1","repeat":true,"x":330,"y":800,"wires":[["941f2b8e.118318"]]},{"id":"b575dc4d.dfe468","type":"sensor-ds18b20","z":"e516f9d8.12fb9","name":"","topic":"","sensorid":"10-0008032de4eb","timer":"1","repeat":true,"x":330,"y":860,"wires":[["f90b68bd.25cf58"]]},{"id":"941f2b8e.118318","type":"ui_gauge","z":"e516f9d8.12fb9","name":"","group":"7fa85710.ec99f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 1","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":800,"wires":[]},{"id":"f90b68bd.25cf58","type":"ui_gauge","z":"e516f9d8.12fb9","name":"","group":"7fa85710.ec99f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Sensor 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":860,"wires":[]},{"id":"8c05b978.eb8d7","type":"ui_group","z":"","name":"LEDs","tab":"9a00c6e6.ad678","disp":true,"width":"6","collapse":false},{"id":"6e86f845.f0bf8","type":"ui_group","z":"","name":"Buttons","tab":"1c1a97d8.43c46","order":1,"disp":false,"width":"6","collapse":false},{"id":"7fa85710.ec99f8","type":"ui_group","z":"","name":"DS18B20","tab":"e2587904.7b219","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a00c6e6.ad678","type":"ui_tab","z":"","name":"Outputs","icon":"dashboard","disabled":false,"hidden":false},{"id":"1c1a97d8.43c46","type":"ui_tab","z":"","name":"Inputs","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e2587904.7b219","type":"ui_tab","z":"","name":"Sensors","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
